{% extends "layouts/layout.html" %}

{% block body %}
<tr>
    <td>
        {% block map %}{% endblock %}
    </td>
</tr>
<tr>
    <td class="container-padding content" align="left" style="color: #707c8d;padding: 40px 24px;background-color:#ffffff">
        <div class="title" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550">
            {% block body_title %}{% endblock %}
        </div>

        <div class="body">
            {% block body_content %}{% endblock %}
        </div>
    </td>
</tr>
{% endblock %}
