{% extends "layouts/map-layout.html" %}
{% from 'partials/macros.html' import link with context %}

{% block body_title %}
Reporte listo
{% endblock %}

{% block body_content %}
El reporte de tipo <strong>{{ report.builder }}</strong> {% if report.name %}
  con nombre <strong>{{ report.name }}</strong>
{% endif %} que solicitaste el <strong>{{ report.requested_at|datetimeformat }}</strong> está listo.
Puedes descargarlo desde el siguiente <a href="{{ report.url }}">enlace</a>.
{% endblock %}
