{% extends "layouts/map-layout.html" %}
{% from 'partials/macros.html' import google_map with context %}
{% from 'partials/macros.html' import link with context %}

{% block map %}
    {{ google_map(width=600, height=228, center=position, zoom='12', markers=[position], path=route) }}
{% endblock %}

{% block body_title %}
    {{ device.name }} salió de su ruta programada
{% endblock %}

{% block body_content %}
    El dispositivo
    {{ link(endpoint='/device/'+device.id, caption=device.name) }}
    se alejó de la ruta programada <strong>{{ distance|round(2) }} km</strong> el <strong>{{ time|datetimeformat }}</strong> en el viaje
    {{ link(endpoint='/trip/{}'.format(trip.id), caption=trip.origin+'->'+trip.destination) }}
{% endblock %}
