{% extends "layouts/map-layout.html" %}
{% from 'partials/macros.html' import google_map with context %}
{% from 'partials/macros.html' import link with context %}

{% block map %}
    {% if route %}
        {{ google_map(width=600, height=228, markers=[trip.origin_pos, trip.destination_pos], path=route.polyline) }}
    {% else %}
        {{ google_map(width=600, height=228, markers=[trip.origin_pos, trip.destination_pos]) }}
    {% endif %}
{% endblock %}

{% block body_title %}
    El dispositivo {{ link(endpoint='/device/'+device.id, caption=device.name) }} acaba de iniciar el viaje<br>
    {{ trip.origin }} -> {{ trip.destination }}
{% endblock %}

{% block body_content %}
    {% if user %}
        <p>Conductor: <strong>{{ user.name }} {{ user.last_name }}</strong><p>
    {% endif %}

    {% if route %}
        <p>Ruta: <strong>{{ route.name }}</strong></p>
    {% endif %}

    <p>
        Salida planeada: <strong>{{ trip.scheduled_departure|datetimeformat }}</strong>, real: <strong>{{ trip.departure|datetimeformat }}</strong><br>
        Llegada planeada: <strong>{{ trip.scheduled_arrival|datetimeformat }}</strong>, ETA: <strong>{{ trip.scheduled_arrival|diffinhours(trip.scheduled_departure) }}</strong><br>
    </p>

    <p>Puedes rastrear el progreso del viaje desde el siguiente <a href="{{ config.URL_PROTOCOL }}://{{ org_name }}.getfleety.{{ config.URL_SUBDOMAIN }}/#/trip/{{ trip.id }}">enlace</a>.</p></p>
{% endblock %}
